.footerContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 4px;
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.footerItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}

.footerItem:hover {
  color: #00f5d0;
}

.footerItem span {
  margin-top: 1px;
  
}

.contextualActions {
  display: flex;
  gap: 1rem;
  margin-top: 1px;
  justify-content: center;
}

