/* Styling for Hamburger Menu */
.menuContainer {
  position: fixed;
  top: 80px; /* Adjust this value based on your top bar height */
  width: 260px;
  background-color: var(--background);
  border-radius: 8px;
  border: 1px solid rgb(53, 53, 53);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
}

.menuContainer {
  left: 16px; /* Adjust as needed */
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: var(--text-primary);
  cursor: pointer;
  transition: background-color 0.3s;
}

.menuItem:hover {
  color: var(--accent-color);
}

.menuItem svg {
  margin-right: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px; /* Add spacing below avatar */
}

.avatarImage {
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--text-primary);
}

/* Divider Styling */
.divider {
  height: 1px;
  background-color: #444;
  margin: 8px 0; /* Add spacing above and below divider */
}

/* Toggle Switch Styling */
.toggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
}

.toggleButton {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}
