/* Styling for Hamburger Menu */

.menuContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%; /* Adjust width as needed */
  /*height: 100%;*/
  background-color: var(--background);
  border-radius: 8px;
  border: 1px solid rgb(53, 53, 53);
  z-index: 10000;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/*.menuContainer {
  left: 16px;  Adjust as needed 
}*/

.menuItem {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  color: var(--text-primary);
  cursor: pointer;
  transition: background-color 0.3s;
}

.menuItem:hover {
  color: var(--accent-color);
}

.menuItem svg {
  margin-right: 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ensure it covers the entire viewport */
  background-color: rgba(0, 0, 0, 0.5); /* Dim effect */
  z-index: 999; /* Lower than the sliding menu */
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px; /* Add spacing below avatar */
}

.avatarImage {
  width: 60px;
  height: 60px;
  border-radius: 80%;
  object-fit: cover;
  border: 1px solid #b1b1b1;
}

.avatarImageChat {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  object-fit: cover;
  border: 1px solid #b1b1b1;
}

/* Divider Styling */
.divider {
  height: 1px;
  background-color: #444;
  margin: 8px 0; /* Add spacing above and below divider */
}

/* Toggle Switch Styling */
.toggleSwitch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 10px;
  position: relative;
  margin-left: auto;
}

.toggleButton {
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 1px;
  transition: 0.3s;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}