/* Styling for the login screen */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #343434;
}

.form {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: black;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: black;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  font-size: 1rem;
  color: #000000;
  background-color: #ffffff;
}

.input::placeholder {
  color: #888888;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #00a39e;
  color: #ffffff;
  font-size: 1rem;
  border: solid;
  border-width: 1px;
  border-color: #00f5d0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.button:hover:not(:disabled) {
  background-color: #005bb5;
}

.signupText {
  text-align: center;
  margin-top: 1rem;
  color: black;
}

.link {
  color: #075985;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.error {
  color: #ff0000;
  margin-bottom: 1rem;
  text-align: center;
}

.oauthButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  background-color: #ffffff;
  color: #000000;
  font-size: 1rem;
  border: 1px solid #cccccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.oauthButton:hover {
  background-color: #f0f0f0;
}

.orText {
  text-align: center;
  margin: 1rem 0;
  color: black;
  font-size: 1rem;
} 
